<html>
  <head>
  <title>LatinDecks: Latin Flashcard Deck Creator</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico')}}">
  <meta name="google-site-verification" content="5hWRXVRPLdYYLXZWCCXo7_Dg51fijckHFt2NPQqhiMQ" />
</head>
   <body>      
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css')}}" type="text/css" media="screen" />
<div id="deck_section">
<h1>Flashcard Latin Deck Creator</h1>
<p>Enter terms:</p>


         

<p><textarea cols="40" rows="20" id="term_form_value"></textarea></p>

<p id="term_count">Number of terms:</p>         

<p><input type = "submit" value = "submit" id="term_form_submit"/></p>


      File Download (May take more than 5 minutes): <div id="place_for_file" ></div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script>
         $("#term_form_submit").click(function(){
             var text = $("#term_form_value").val();
         
             document.getElementById("place_for_file").innerHTML = ""

             $.ajax({
               url: "/create_deck",
               type: "post",
               data: {terms: text},
               success: function(response) {
                 $("#place_for_file").html(response);
               },
               error: function(xhr) {
                 //Do Something to handle error
               }
             });
         });
        $("#term_form_value").keyup(function(){
          var rowCount = $("#term_form_value").val().split(/\r|\r\n|\n/).length;
          document.getElementById("term_count").textContent = "Number of terms: ".concat(rowCount);
        });
      </script>
</div>
<div id="instruction_section">
<h1>Instructions</h1>
<h2>Deck Creator Instructions</h2>
<p>Enter your Latin terms in lines. <br>
  For example:
  <pre><code>ambulo
silva
bonus
de
et</code></pre>
The download will return a .txt file like this:
<pre><code>walk;:ambulō  ambulāre  ambulavi  ambulatus v ( 1st ) intrans
good/moral/honest/:bonus  bonī n ( 2nd ) m
about; away from:dē prep abl
and, and even; also, even;  (et  et = both  and);:et conj
wood, forest (sylvan);:silva  silvae n ( 1st ) f
</code></pre>
Enter terms like this:<br>
  <b>Verbs</b>: First Principle Part<br>
  <b>Nouns</b>: Nominative Singular<br>
  <b>Adjectives</b>: Masculine Nominative Singular<br>
  <b>Adverbs, Prepositions, Conjunctions</b>: No special change<br>
  Then, click submit, and wait for the "Download!" button to show. <br>
  This may take a few seconds to a few minutes, depending on the number of words. <br>
</p>
<h2>Deck Import Instructions</h2>
<p>The download will return a .txt file that you can import into your flashcard software.<br>
  Depending on your flashcard software, change the separator to ":"<br>
  Each term and definition is separated by a line.
</p>
</div>
<div id="credit_section">
  <p>dictionary: <a href="https://latin-words.com">Whitakers Words</a></p>
</div>
   </body>
</html>