<html>
   <body>      
         

<p>Enter terms:</p>


         

<p><textarea cols="40" rows="20" id="term_form_value"></textarea></p>


         

<p><input type = "submit" value = "submit" id="term_form_submit"/></p>




      File Download (May take more than 5 minutes): <div id="place_for_file" ></div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script>
         $("#term_form_submit").click(function(){
             var text = $("#term_form_value").val();
         
             document.getElementById("place_for_file").innerHTML = ""

             $.ajax({
               url: "/create_deck",
               type: "post",
               data: {terms: text},
               success: function(response) {
                 $("#place_for_file").html(response);
               },
               error: function(xhr) {
                 //Do Something to handle error
               }
             });
         });
      </script>
   </body>
</html>