<!DOCTYPE html>
<html>
  <head>
  <title>LatinDecks: Latin Flashcard Deck Creator</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico')}}">
  <meta name="google-site-verification" content="5hWRXVRPLdYYLXZWCCXo7_Dg51fijckHFt2NPQqhiMQ" />
</head>
   <body>      
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css')}}" type="text/css" media="screen" />
<div id="deck_section">
<h1>Latin Flashcard Deck Creator</h1>
<p>Enter terms:</p>


         

<p><textarea cols="40" rows="20" id="term_form_value"></textarea></p>

<p id="term_count">Number of terms:</p>        
<select name="flashcardsoftware" id="software">
  <option name="quizlet">Quizlet</option>
  <option name="anki">Anki</option>

</select> 

<p><input type = "submit" value = "submit" id="term_form_submit"/></p>
      File Download (May take more than 5 minutes): <div id="place_for_file" ></div>
</div>
<div id="instruction_section">
<h1>Instructions</h1>
<h2>Deck Creator Instructions</h2>
<p>Enter your Latin terms in lines. <br>
  For example:
  <pre><code>ambulo
silva
bonus
de
et</code></pre>
The download will return a .txt file like this:
<pre><code>walk;:ambulō  ambulāre  ambulavi  ambulatus v ( 1st ) intrans
good/moral/honest/:bonus  bonī n ( 2nd ) m
about; away from:dē prep abl
and, and even; also, even;  (et  et = both  and);:et conj
wood, forest (sylvan);:silva  silvae n ( 1st ) f
</code></pre>
Enter terms like this:<br>
  <b>Verbs</b>: First Principle Part<br>
  <b>Nouns</b>: Nominative Singular<br>
  <b>Adjectives</b>: Masculine Nominative Singular<br>
  <b>Adverbs, Prepositions, Conjunctions</b>: No special change<br>
  Then, click submit, and wait for the "Download!" button to show. <br>
  This may take a few seconds to a few minutes, depending on the number of words. <br>
</p>
<h2>Deck Import Instructions</h2>
<button onclick="quizletReveal()"><h3>Quizlet</h3></button>
<p id="quizletInstructions" class="quizlet-instructions">Create an empty quizlet deck, or open an existing one (do not select "Import from Document")<br>
Click "Import" on the left side above the card list.<br>
Change the <b>"between term and definition"</b> to custom ":"<br>
<b>"Between lines"</b> should be "New line."<br>
Paste the deck into the window.<br>
</p>
<button onclick="ankiReveal()"><h3>Anki</h3></button>
<p id="ankiInstructions" class="anki-instructions">
  Select a deck. <br>
  Click "Import File" at the bottom of the home screen.<br>
  Navigate to the downloaded file and select it.<br>
  Set the <b>"Field Separator"</b> to colon, ":"<br>
  Double-check which deck to import to.<br>
  Click "Import"<br>
</p>
</p>
</div>
<div id="credit_section">
  <p>dictionary: <a href="https://latin-words.com">Whitakers Words</a>
  created by Forrest Zeng</p> 
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
   $("#term_form_submit").click(function(){
       var text = $("#term_form_value").val();
       var flashcard_software = $("#software").val();
   
       document.getElementById("place_for_file").innerHTML = ""

       $.ajax({
         url: "/create_deck",
         type: "post",
         data: {terms: text,software: flashcard_software},
         success: function(response) {
           $("#place_for_file").html(response);
         },
         error: function(xhr) {
           //Do Something to handle error
         }
       });
   });
  $("#term_form_value").keyup(function(){
    var rowCount = $("#term_form_value").val().split(/\r|\r\n|\n/).length;
    document.getElementById("term_count").textContent = "Number of terms: ".concat(rowCount);
  });
  function quizletReveal(){
    document.getElementById("quizletInstructions").classList.toggle("show");
  }
  function ankiReveal(){
    document.getElementById("ankiInstructions").classList.toggle("show");
  }
</script>

   </body>
</html>