#deck_section{
    float:left
}
#instruction_section {
    float:right
}   
#credit_section {
    position:fixed;
    right: 5px;
    bottom:0
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.quizlet-instructions, .anki-instructions{
    display:none;
}
.show {display: block;}